@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: "Poppins", sans-serif;
}

.text-y{
  color: #f7be27 !important;
}

.container{
  max-width: 1280px !important;
  width: 1280px !important;
}

header .logo{
  width: 200px;
}

header .logo img{
  width: 100px !important;
  height: auto !important;
}

header.scroll{
  background-color: #fff;
}

header nav ul li a{
  color: #fff;
  font-weight: 600;
  text-transform: uppercase   ;
}

header.scroll nav ul li a{
  color: #2c2c2c;
}

header nav ul li a:hover{
  text-decoration: none;
  color: #f7be27;
}

header.scroll header nav ul li a:hover{
  color: #f7be27;
}

header .cartTab svg{
  font-size: 35px;
}

header.scroll .cartTab svg{
  color: #171717 !important;
}

header .cartTab span{
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  z-index: 100;
  background-color: #e3000e;
  color: #fff;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active{
  background-color: #fff;
}