@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); 

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: "Poppins", sans-serif;
}

/* Swiper Pagination */
.swiper-pagination {
  position: absolute;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1e40af;
  transform: scale(1.2);
}

.swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #3b82f6;
  transform: scale(1.1);
}

/* Swiper Buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #000; /* $white is set to black here for demonstration */
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  /* background-color: #f59e0b; */
}

.swiper-button-prev {
  content: "←"; /* Previous button icon */
}

.swiper-button-next {
  content: "→"; /* Next button icon */
}

/* Custom Swiper Buttons */
.custom-swiper-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 40px;
  height: 40px;
}

.custom-swiper-button:before {
  font-size: 24px;
  color: #000; /* $white is set to black here */
}

.custom-swiper-button.swiper-button-prev:before {
  content: "←"; /* Left arrow for previous */
}

.custom-swiper-button.swiper-button-next:before {
  content: "→"; /* Right arrow for next */
}
